<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="defaultRWConnectionString" connectionString="Data Source=pr_reau;User ID=pr_reau_dev;Password=pr_reau_dev;Pooling=true;HA Events=false;Connection Timeout=60" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
</configuration>